<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FTPHostname" value="secure26.webhostinghub.com"/>
    <add key="FTPRemotePath" value="photos"/>
    <add key="FTPAccount" value="[account name]"/>
    <add key="FTPPassword" value="[password]"/>
    <add key="DBServer" value="kieranc.com"/>
    <add key="DBUser" value="[account name]"/>
    <add key="DBPassword" value="[password]"/>
    <add key="DBDatabase" value="kieran8_photos"/>
  </appSettings>
</configuration>